################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiTenantLogging/bin/Debug
/MultiTenantLogging/obj
